@use "../abstracts/variables" as *;

.video-block {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}

.video-block__media {
  overflow: hidden;

  border-radius: $image-radius;

  background: #000000;

  iframe {
    display: block;

    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;

    border: 0;
  }
}
