{#
/**
 * @file
 * Theme override for the Text Paragraph.
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--text',
  'text-block',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="text-block__content">
    {{ content }}
  </div>
</div>
