@use "../abstracts/variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0 1rem;
  color: $color-text;
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.75rem);
}

h3 {
  font-size: clamp(1.35rem, 2vw, 1.75rem);
}

p {
  margin-block: 0 1.5rem;
}
