@use "../abstracts/variables" as *;

/*
 * Page title
 */

.block-page-title-block {
  max-width: 60rem;
  margin-bottom: $spacing-2xl;
}

.page-title {
  margin-bottom: 0;
}

/*
 * News detail
 */

.news-detail {
  display: grid;
  gap: $spacing-3xl;
}

.news-detail__hero {
  overflow: hidden;

  border-radius: $image-radius;

  background: $color-surface;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.news-detail__components {
  > .field > .field__items {
    display: grid;
    gap: $spacing-3xl;
  }
}

@media (min-width: $breakpoint-tablet) {
  .block-page-title-block {
    margin-bottom: $spacing-3xl;
  }

  .news-detail,
  .news-detail__components > .field > .field__items {
    gap: $spacing-4xl;
  }
}
